:root
{
    --tone1: #ffd7d7;
    --tone2: #230505;
    --tone3: #7e5a5a;
    --tone4: #cf8585;
    --tone5: #4a0000;
    --tone6: #7e3b3b;
    --tone7: #b10000;
    --gray1: rgb(118, 118, 118);
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Benton Sans", sans-serif;
}

body
{
    background-color: var(--tone1);
    overflow-x: hidden;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation 
{
    0% 
    {
        opacity: 0;
    }
    100% 
    {
        opacity: 1;
    }
}

#p0
{
    width: 100%;
    height: 100%;
    z-index: 10;
}

#p1
{
    position: relative;
    top: 40vh;
}

#p2
{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 2vh;
    top: 2vh;
    z-index: 19;
}

.title
{
    text-align: center;
    color: var(--tone2);
    display: none;
}

button 
{
    position: absolute;
    top: 40vh;
    left: 42.5vw;
    color: var(--tone1);
    border-color: var(--tone7);
    border-radius: 50px;
    background: var(--tone2);
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 20;
}

button:hover
{
    transition: 0.2s;
    color: var(--tone5);
    background: var(--tone4);
}

h1, h2, h3, h4, h5, p 
{
	margin: 0;
}

main 
{
	display: flex;
	justify-content: center;
}

.book 
{
	--book-height: 50vh;
	--book-ratio: 1.4;
    position: absolute;
    right: 100px;
    z-index: 20;
}

.book > div 
{
	height: var(--book-height);
	width: calc(var(--book-height) / var(--book-ratio));
	overflow: auto;
	background-color: var(--tone2);
	transform: scale(0.9);
	border-radius: 6px;
	transform-origin: left;
}

.book-cover 
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9;
	text-align: center;
	background-size: 2em 2em;
	background-color: var(--tone2);
	color: var(--tone4);
	transition: transform 2s;
}

.book-cover::before 
{
	content: "";
	position: absolute;
	width: 20px;
	right: 20px;
	top: 0;
	bottom: 0;
}

h1 
{
	font-family: "Petemoss", cursive;
	font-size: 28px;
	font-weight: 300;
	color: var(--tone1);
}

h2 
{
	font-size: 16px;
}

.separator 
{
	--separator-size: 8px;
	width: var(--separator-size);
	height: var(--separator-size);
	background-color: var(--tone1);
	margin: 50px auto 60px auto;
	border-radius: 50%;
	position: relative;
}

.separator::after,
.separator::before 
{
	content: "";
	position: absolute;
	width: 12px;
	background-color: var(--tone4);
	height: 2px;
	top: calc(50% - 1px);
}

.separator::after 
{
	left: 15px;
}

.separator::before 
{
	right: 15px;
}

.book-content 
{
	transform: scale(0.9) translateY(30px);
	background-color: var(--tone4) !important;
	transition: all 0.3s 1s;
}

.book-content h3,
.book-content p 
{
	opacity: 0;
	transition: all 0.3s 0.3s;
}

.book-content img
{
    width: 245px;
    height: 245px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1.5px;
}

h3 
{
	padding: 30px;
}

p 
{
	padding: 0px 30px 10px 30px;
	text-align: justify;
	font-size: 14px;
}

.book-cover > div 
{
	transition: opacity 0s 0.6s;
}

.book:hover > .book-cover 
{
	transform: rotateY(180deg) scale(0.9);
}

.book:hover > .book-cover > div 
{
	opacity: 0;
}

.book:hover > .book-content 
{
	transform: scale(0.9) translateY(0px);
}

.book:hover > .book-content h3,
.book:hover > .book-content p 
{
	opacity: 1;
}


@media (max-width: 960px) 
{
	#p1
	{
		width: 50%;
		height: 50%;
		top: 550px;
	}

	#p2
	{
		width: 100px;
		height: 100px;
	}
	
	.title
	{
		position: relative;
		font-size: 18px;
		top: 250px;
	}
	
	button 
	{
		left: 31.5vw;
		font-size: 12px;
	}
	
	.book 
	{
		--book-height: 30vh;
		right: 0;
	}
	
	.book > div 
	{
		height: var(--book-height);
	}

	.book-content img
	{
		width: 136px;
		height: 136px;
	}

}